.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: lightgray;
  width: 120px;
}

h4 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rank,
.active_player {
  font-weight: bold;
}

.card_details {
  padding: 2px 16px;
}

.card h2 {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 10px;
  font-size: 4em;
  margin-bottom: 0;
}

#non_initial {
  display: none;
}

button,
input {
  margin: 5px;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.player_name {
  color: black !important;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

#header {
  grid-column: 1/6;
  grid-row: 1/2;
}

#sidebar {
  grid-column: 1/2;
  grid-row: 2/3;
  background: #a0c263;
  text-align: center;
  padding: 5px;
}

#trick {
  grid-column: 2/5;
  grid-row: 2/3;
}

#content {
  grid-column: 2/5;
  grid-row: 3/4;
}

#additional_controls {
  display: inline-grid;
  grid-column: 1/2;
  text-align: center;
  grid-row: 3/4;
}

#bids_and_scores {
  grid-column: 5/6;
  grid-row: 2/5;
}

footer {
  grid-column: 1/5;
  grid-row: 4/5;
  background: #ffa500;
  padding: 5px;
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + .card {
  cursor: pointer;
}

[type="radio"]:checked + .card {
  outline: 2px solid black;
}

#select_suit {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#cards {
  display: inline-grid;
}

#cards,
#select_suit {
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  text-align: center;
}

#number_of_bids {
  margin: 5px;
}

#trick_cards {
  display: inline-grid;

  /* 6 cards instead of 5 since there are max 6 cards in one trick */
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  text-align: center;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
li + td {
  padding-top: 0;
}
