<!DOCTYPE html>
<html>
  <head>
    <title>Wizard of the drunken beasts</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <header id="header">
      <h2>Welcome to the drunken beasts' Wizard Game</h2>
      <div id="initial">
        <form>
          <label
            >Please enter an alphabetic username with more than 3 characters
            <input
              id="name_of_player"
              type="text"
              pattern="[A-Za-z]{3,}"
              required
          /></label>
          <br />
          <label
            >Enter the name of the game you want to join or create
            <input id="name_of_game" type="text" required
          /></label>
          <details>
            <summary
              >Modify the game options (only apply if you're the
              creator)</summary
            >
            <label
              >Number of players you expect to play
              <input
                type="number"
                id="number_of_players"
                min="3"
                max="6"
                value="3"
            /></label>
            <br />
            <fieldset>
              <legend>Special rules</legend>
              <br />
              {% for flag, description in special_rules.items() -%}
              <label>
                <input
                  type="checkbox"
                  name="special_rule"
                  data-flag="{{ flag }}"
                />
                {{ description }}
              </label>
              <br />
              {% endfor %}
            </fieldset>
          </details>
          <button type="submit" formaction="javascript:connect_ws()">
            Enter game
          </button>
        </form>
        <p>
          Once the other players joined the game, it will start automatically.
        </p>
      </div>
    </header>
    <main class="game_element">
      <div id="sidebar">
        <fieldset>
          <legend>Order of players</legend>
          <div id="order_of_players"></div>
        </fieldset>
      </div>
    </main>
    <fieldset id="trick" class="game_element">
      <legend>Current cards of trick</legend>
      <div id="trick_cards"></div>
    </fieldset>
    <fieldset id="content" class="game_element">
      <legend>Your cards</legend>
      <form>
        <div id="cards"></div>
        <button
          type="submit"
          id="play_card_button"
          formaction="javascript:play_card()"
        >
          Play Card
        </button>
      </form>
    </fieldset>
    <fieldset id="additional_controls" class="game_element">
      <legend>Additional controls</legend>
      <form id="select_suit" name="select_suit">
        <label
          ><input type="radio" name="suit" value="Red" />
          <div class="card red">
            <h2>Z</h2>
            <div class="card_details">
              <p>Zwerge</p>
            </div>
          </div></label
        >
        <label
          ><input type="radio" name="suit" value="Blue" />
          <div class="card blue">
            <h2>M</h2>
            <div class="card_details">
              <p>Menschen</p>
            </div>
          </div>
        </label>
        <label
          ><input type="radio" name="suit" value="Green" />
          <div class="card green">
            <h2>E</h2>
            <div class="card_details">
              <p>Elfen</p>
            </div>
          </div>
        </label>
        <label
          ><input type="radio" name="suit" value="Yellow" />
          <div class="card yellow">
            <h2>R</h2>
            <div class="card_details">
              <p>Riesen</p>
            </div>
          </div>
        </label>
        <br />
        <button type="submit" formaction="javascript:submit_trump_wish()">
          Select Suit
        </button>
      </form>
      <form id="select_number_of_bids">
        <input
          type="number"
          id="number_of_bids"
          name="number_of_bids"
          min="0"
          max="20"
          placeholder="Number of bids"
        />
        <button type="submit" formaction="javascript:pass_bid()">
          Submit bids
        </button>
      </form>
    </fieldset>
    <div id="bids_and_scores">
      <table id="bids_and_scores_table"></table>
    </div>
    <footer class="game_element">
      <fieldset>
        <legend>Last messages by the server</legend>
        <div>
          <ul id="messages"></ul>
        </div>
      </fieldset>
    </footer>
    <script src="/static/index.js"></script>
    <script>
      init();
    </script>
  </body>
</html>
